{% extends "base.html" %}

{% block navbar %}
<a class="nav-link active" href="{{ url_for('index') }}">home</a>
<a class="nav-link" href="{{ url_for('about') }}">about</a>
<a class="nav-link" href="{{ url_for('dashboard') }}">dashboard</a>
<a class="nav-link" href="{{ url_for('team') }}">team</a>
{% endblock %}

{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Humanitarian Aid Index</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</main>
{% endblock %}
